<!DOCTYPE html>
<html>
	<head>
		<title>>default-js</title>
		<%= require('../partials/head.html?raw') %>
	</head>

	<body>
		<template id="home-template">
			<h1>@Default-js</h1>
		</template>
		<d-application route="home">
			<d-renderer data="/data/structure.json" render-mode="self-replace" condition>
				<header id="page-header">
					<d-route id="header-home" name="home" template="#home-template">
						<h3>${title}</h3>
					</d-route>
					<nav class="nav nav-horizontal for-big-device" jstl-foreach="${groups}" jstl-foreach-var="group" jstl-status-var="status">
						<d-dropdown class="nav-item dropdown right" jstl-if="${group.repos && group.repos.length != 0}">
							${group.title}
							<d-dropdown-content>
								<nav class="nav nav-vertical" jstl-foreach="${group.repos}" jstl-foreach-var="repo">
									<d-route class="nav-item" name="${repo}" template="/templates/repository.view.tpl.html" context="{'repo':'${repo}'}" stateful>${repo}</d-route>
								</nav>
							</d-dropdown-content>
						</d-dropdown>
					</nav>
					<d-dropdown class="nav nav-vertical dropdown right for-small-device">
						<i class="fa-solid fa-bars"></i>
						<d-dropdown-content jstl-foreach="${groups}" jstl-foreach-var="group" jstl-status-var="status">
							<div class="nav-item nav-item-text-only" jstl-if="${group.repos && group.repos.length != 0}">								
								<strong>${group.title}</strong>								
								<nav class="nav nav-vertical" jstl-foreach="${group.repos}" jstl-foreach-var="repo">
									<d-route class="nav-item" name="${repo}" template="/templates/repository.view.tpl.html" context="{'repo':'${repo}'}" stateful>${repo}</d-route>
								</nav>
							</div>
						</d-dropdown-content>
					</d-dropdown>
				</header>
			</d-renderer>
			<main id="page-main">
				<d-view></d-view>
			</main>
			<footer id="page-footer"><%= require('../partials/footer.html?raw') %></footer>
		</d-application>
	</body>
</html>
