d-dropdown-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem 0.5rem 1rem 0.5rem;    
    border-radius: 0 0 0.2rem 0.2rem;
    border: solid 0.1rem var(--body-border);  
    background-color: var(--body-background); 
    width: max-content; 
}