x-github-markdown-render-service {
    display: flex;
    flex-direction: column;
}

x-github-markdown-render-service div,
x-github-markdown-render-service p,
x-github-markdown-render-service table {
    margin: 1rem 0;
}

x-github-markdown-render-service table {
    background-color: var(--table-background);
}
x-github-markdown-render-service thead th {
    border-bottom: solid 0.1rem var(--body-border);
}

x-github-markdown-render-service tbody td {
    padding: 0.5rem 0.3rem;
    border-bottom: solid 0.1rem var(--body-border);
    border-right: solid 0.1rem var(--body-border);
}

x-github-markdown-render-service tbody td:last-child {
    border-right: none
}

x-github-markdown-render-service tbody tr:nth-child(odd) {
    background-color: var(--table-odd-background);
}

x-github-markdown-render-service tbody tr:nth-child(even) {
    background-color: var(--table-even-background);
}





x-github-markdown-render-service .highlight {
    border-radius: 0.3rem;
    padding: 2rem;
    background-color: var(--highlight-block-bg);
}

x-github-markdown-render-service code {
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem;
    background-color: var(--highlight-inline-bg);

}


x-github-markdown-render-service .pl-kos {
    color: var(--highlight-code-syntax);
}


/* comment, punctuation.definition.comment, string.comment */
x-github-markdown-render-service .pl-c {
    color: var(--highlight-code-comment);
}

/* constant, 
    entity.name.constant, 
    variable.other.constant, 
    variable.language, 
    support, 
    meta.property-name, 
    support.constant, 
    support.variable, 
    meta.module-reference, 
    markup.quote, 
    markup.raw, 
    meta.diff.header,
    String */
x-github-markdown-render-service .pl-c1,
x-github-markdown-render-service .pl-s .pl-v {
    color: var(--highlight-code-variable);
}

/* entity, 
entity.name */
x-github-markdown-render-service .pl-e,
x-github-markdown-render-service .pl-en,
x-github-markdown-render-service .pl-ent {
    color: var(--highlight-code-function);
}

/* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other, string source */
x-github-markdown-render-service .pl-smi,
x-github-markdown-render-service.pl-s,
x-github-markdown-render-service .pl-s1 {
    color: var(--highlight-code-variable);
}

/* keyword, storage, storage.type */
.pl-k {
    color: var(--highlight-code-keyword);
}

/* string,
    punctuation.definition.string, 
    source.regexp, 
    string.regexp.character-class 
*/
x-github-markdown-render-service .pl-s,
x-github-markdown-render-service .pl-pds,
x-github-markdown-render-service .pl-s .pl-pse .pl-s1,
x-github-markdown-render-service .pl-sr,
x-github-markdown-render-service .pl-sr .pl-cce,
x-github-markdown-render-service .pl-sr .pl-sre,
x-github-markdown-render-service .pl-sr .pl-sra {
    color: var(--highlight-code-variable);
}

x-github-markdown-render-service .pl-v,
x-github-markdown-render-service .pl-ml {
    color: var(--highlight-code-variable);
}

/* carriage-return */
x-github-markdown-render-service .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}


/* carriage-return */
x-github-markdown-render-service .pl-c2::before {
    content: "^M";
}

/* string.regexp constant.character.escape */
x-github-markdown-render-service .pl-sr .pl-cce {
    font-weight: bold;
    color: #7bcc72;
}

.pl-mh
/* markup.heading */
,
.pl-mh .pl-en
/* markup.heading entity.name */
,
.pl-ms

/* meta.separator */
    {
    font-weight: bold;
    color: #0366d6;
}

.pl-mi

/* markup.italic */
    {
    font-style: italic;
    color: #f6f8fa;
}

.pl-mb

/* markup.bold */
    {
    font-weight: bold;
    color: #f6f8fa;
}

.pl-md

/* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
    {
    color: #b31d28;
    background-color: #ffeef0;
}

.pl-mi1

/* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
    {
    color: #176f2c;
    background-color: #f0fff4;
}

.pl-mc

/* markup.changed, punctuation.definition.changed */
    {
    color: #b08800;
    background-color: #fffdef;
}

.pl-mi2

/* markup.ignored, markup.untracked */
    {
    color: #2f363d;
    background-color: #959da5;
}

.pl-mdr

/* meta.diff.range */
    {
    font-weight: bold;
    color: #b392f0;
}

.pl-mo

/* meta.output */
    {
    color: #0366d6;
}

.pl-ba

/* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */
    {
    color: #ffeef0;
}

.pl-sg

/* sublimelinter.gutter-mark */
    {
    color: #6a737d;
}

.pl-corl

/* constant.other.reference.link, string.other.link */
    {
    text-decoration: underline;
    color: #79b8ff;
}