.nav{
    display: flex;
    gap: 1rem;
} 

.nav-item {
    padding: 0.3rem 0.5rem 0 0.5rem;
    cursor: pointer;
}

.nav-item{
    color: var(--nav-hover-color);
}

.nav-horizontal{

}
.nav-vertical{
    flex-direction: column;
}