.nav{
    display: flex;
    gap: 1rem;
} 

.nav-item {
    padding: 0.3rem 0.5rem 0 0.5rem;
    cursor: pointer;
}
.nav-item{
    border-bottom: solid 0.1rem transparent;
}

.nav-item strong{
    display: block;
    cursor: initial;
    border-top: solid 0.1rem var(--body-border);
    border-bottom: solid 0.1rem var(--body-border);
    margin-bottom: 1rem;
}

.nav-item:not(.nav-item-text-only):hover{
    color: var(--nav-hover-color);
    border-bottom-color: var(--body-border);
}

.nav-horizontal{

}
.nav-vertical{
    flex-direction: column;
}